manifest {
  name            = 'kuttichantran/wf-shrimpseq_v3'
  author          = 'Kuttichantran'
  homePage        = 'https://github.com/kuttichantran/wf-shrimpseq_v3'
  description     = 'Minimap2 viral screening with water control SimpleRatio reporting'
  mainScript      = 'main.nf'
  nextflowVersion = '>=23.04.0'
  version         = '3.0.0'
}

params {
  reads        = 'data'
  ref          = null
  out_dir      = 'results'
  threads      = 4
  water_id     = 'water_control'
  pseudocount  = 1
  pos_cutoff   = 10
  inc_cutoff   = 3

  // micromamba runtime (advanced)
  env_name     = 'wf_viral_screen_env'
  mamba_prefix = "${System.properties['user.home']}/.micromamba"
}

profiles {
  standard {
    process.executor = 'local'
  }
}

process {
  shell = ['/bin/bash', '-euo', 'pipefail']
}
